<form method="post">
{% csrf_token %}
{{ form.as_p }}
{% for msg in messages %}
    {{ msg }}
{% endfor %}
<button type="submit">Save</button>
</form>


<form method="get">
    {% for field in filter.form %}
        <label for="{{ field.id_for_label }}">{{ field.name }}</label>
        <select name="{{ field.name }}" id="{{ field.id_for_label }}">
            {% for value, label in field.field.choices %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
    {% endfor %}
    <div class="col-12 form-group mg-t-8">
        <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">SEARCH</button>
    </div>
</form>




Applications
<ol>
{% for obj in objects %}
<a href="{% url 'delete_application' obj.pk %}"><button style="color: red;" >DELETE</button></a>
<a href="{% url 'update_application' obj.pk %}"><button style="color: blue;" >UPDATE</button></a>
<li>
<p><strong>full_name:</strong> {{ obj.full_name }}</p>
<p><strong>phone_number:</strong> {{ obj.phone_number }}</p>
<p><strong>amount:</strong> {{ obj.amount }}</p>
<p><strong>person:</strong> {{ obj.get_person_display }}</p>
<p><strong>company_name:</strong> {{ obj.company_name }}</p>
<p><strong>status:</strong> {{ obj.get_status_display }}</p>
<p><strong>payment_type:</strong> {{ obj.get_payment_type_display }}</p>
<p><strong>used_amount:</strong> {{ obj.used_amount }}</p>
<p><strong>created_at:</strong> {{ obj.created_at }}</p>
</li>

{% endfor %}
</ol>